<ul>
    <li>
      <%= link_to admin_users_path do %>
        <div class="label">Users</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_trade_marks_path do %>
        <div class="label">Trade Marks</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_colors_path do %>
        <div class="label">Colors</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_product_categories_path do %>
        <div class="label">Product Categories</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_outfit_sets_path do %>
        <div class="label">Outfit Sets</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_search_pages_path do %>
        <div class="label">Search Pages</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_contact_inquiries_path do %>
        <div class="label">Contact Inquiries</div>
      <% end %>
    </li>

    <li>
      <%= link_to new_admin_merchant_path do %>
        <div class="label">Create Merchant</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_merchant_product_api_mappings_path do %>
        <div class="label">Merchant product mappings</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_email_promotions_index_path do %>
        <div class="label">Promo Emails</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_payment_types_path do %>
        <div class="label">Payment types</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_shipment_types_path do %>
        <div class="label">Shipment types</div>
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_avatars_path do %>
        <div class="label">User avatars</div>
      <% end %>
    </li>
    <li>
      <%= link_to admin_blog_posts_path do %>
        <div class="label">Blog posts</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_request_stats_path do %>
        <div class="label">Server stats</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_home_page_variants_path do %>
        <div class="label">Home page</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_home_page_links_path do %>
        <div class="label">Home page Links</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_campaigns_path do %>
        <div class="label">Campaigns</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_stale_orders_path do %>
        <div class="label">Orders</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_outfit_decorations_path do %>
        <div class="label">Outfit Decorations</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_clip_pp_without_outfit_pic_path do %>
        <div class="label">Clip Product Pictures</div>
      <% end %>
    </li>

    <li>
      <%= link_to admin_open_graph_tags_path do %>
        <div class="label">Open Graph Tags</div>
      <% end %>
    </li>


</ul>

