<% title "FashionLime - за нас", true %>
<% description "Какво е FashionLime? Кои сме ние и в какво вярваме?", true %>
<% allow_search_engine_index %>


<div class="container">

    <section>
        <div class="row">
            <div class="col-md-12">

                <div class="heading">
                    <h2>Fashion Lime</h2>
                </div>

                 <p class="lead">
                  Ние <i>не</i> сме маркетингови специалисти, нито финансови или пък модни експерти.
                  Обичаме да създаваме красиви неща, влагайки цялата си изобретателност и сърце в това, което правим. А и да - програмираме. :)
                  <br/>
                  А каква е нашата цел? 
                </p>
                <p class="emphasized lead italic">
                  Да направим вас щастливи.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group accordion" id="accordionPanel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionPanel" href="#collapse1">
                                    За проекта
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    FashionLime има амбициите да се наложи като платформа, обединяваща производители и търговци на дрехи, обувки и аксесоари и техните клиенти, 
                                    като за целта сайта се развива в две направления. 
                                    Направление, насочено към бизнес клиенти - производители и търговци на модни продукти - като им се предоставя възможност
                                    за осъществяване и управление на продажби, подобно на онлайн магазин
                                    <%= link_to "(научете повече)", information_new_merchant_path %>.
                                    И направление, насочено към люботелите на модата - създаване на социално ангажирана общност от потребители, 
                                    които разглеждат и поръчват продукти на любимите си марки на едно място, създават цели визии – комбинации от дрехи, обувки и аксесоари - създадени от наличните продукти на търговците в портала, 
                                    и оценяват вече създадени такива тоалети и продукти. 
                                    Така потребителите имат възможност да намерят подходящи за тях съчетания и да видят как другите потребители комбинират даден продукт с други.
                                    Чрез създаването на визиите пък любителите на модата имат възможност по забавен и увличащ начин да изразяват възгледите и стила си. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionPanel" href="#collapse2">
                                    Търговци
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Нашата платформа има този вид, благодарение на прекрасните продукти, които партньорите ни търговци създават.
                                    Благодарим им от сърце за оказаното доверие!
                                    Ако сте търговец на дрехи, обувки и аксесоари и желаете да станете част от нашето семейство,
                                    може да разгледате
                                    <%= link_to "страницата с информацията за бъдещи партньори", information_new_merchant_path %>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionPanel" href="#collapse3">
                                    Мисия
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Мисията на FashionLime е да свързва потребители и търговци на дрехи, обувки и аксесоари 
                                    в единна онлайн платформа за мода, като разрешава проблемите и на двете страни. 
                                    От страна на потребителите - безпроблемна поръчка на продуктите на любимите им марки, събрани на едно място и 
                                    намиране на цялостни предложения за модно облекло - визии представляващи съчетания от няколко модни продукта.
                                    И от страна на търговците - поддържане на стабилен интернет портал и анализ на желанията на клиентите.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionPanel" href="#collapse4">
                                    Визия
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Визията на FashionLime е да стане най-предпочитаната онлайн платформа в България 
                                    за дрехи, обувки и аксесоари и да създаде общност от активни почитатели на модата, 
                                    които създават съчетания от облекла, оценяват продукти и обменят идеи.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="bar background-pentagon no-mb p-small hidden">
    <div class="container">
        <div class="row showcase">
            <div class="col-md-offset-1 col-md-2 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-user"></i>
                    </div>
                    <h4><span class="counter"><%= Conf.counters.users_iniatial + User.count %></span><br>
                      Потребителя
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-users"></i>
                    </div>
                    <h4><span class="counter"><%= Conf.counters.merchants_iniatial + User.joins(:merchant).count %></span><br>
                      Търговеца
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <%= product_icon :class => "flaticon-lg" %> 
                    </div>
                    <h4><span class="counter"><%= Conf.counters.products_iniatial + Product.count %></span><br>
                      Продукта
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="item">
                    <div class="icon">
                        <%= outfit_icon :class => "flaticon-lg" %> 
                    </div>
                    <h4><span class="counter"><%= Conf.counters.outfits_iniatial + Outfit.count %></span><br>
                      Визии
                    </h4>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-heart-o"></i>
                    </div>
                    <h4><span class="counter"><%= Conf.counters.outfits_iniatial + Rating.count %></span><br>
                      Оценки
                    </h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<section class="bar background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Екип</h2>
                </div>
            </div>
        </div>

        <div class="portfolio-showcase clearfix">
          <div class="row">
            <div class="col-sm-3">
                <div class="team-member" data-animate="fadeInUp">
                    <div class="image">
                        <a href="https://www.linkedin.com/in/ralicapeicheva" target="_blank">
                          <%= image_tag "rali_avatar.jpg", :class => 'img-responsive img-circle' %>
                        </a>
                    </div>
                    <h3><a href="https://www.linkedin.com/in/ralicapeicheva" target="_blank" rel="nofollow">Ралица <br/> Пейчева</a></h3>
                    <p class="role">CEO</p>
                    <div class="social">
                        <%= link_to "https://www.facebook.com/ralica.peicheva", :class => "facebook personal", :title => "Профил във Facebook", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        <% end %>
                        <%= link_to "https://www.linkedin.com/in/ralicapeicheva", :class => "linkedin personal", :title => "Профил в LinkedIn", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <% end %>
                        <%= mail_to "ralitsa@fashionlime.bg", :class => "email", :title => "Напиши e-mail", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        <% end %>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
          <!--   <div class="col-md-3 col-sm-3">
                <div class="team-member" data-animate="fadeInUp">
                    <div class="image">
                        <a href="https://bg.linkedin.com/in/aleksandra-mihaleva-3181a553" target="_blank">
                          <%= image_tag "alex_avatar.jpg", :class => 'img-responsive img-circle' %>
                        </a>
                    </div>
                    <h3><a href="https://bg.linkedin.com/in/aleksandra-mihaleva-3181a553" target="_blank">Александра <br/> Михалева</a></h3>
                    <p class="role">Creative</p>
                    <div class="social">
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external linkedin" data-animate-hover="pulse"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div> -->
            <div class="col-sm-3 col-sm-offset-1" data-animate="fadeInUp">
                <div class="team-member">
                    <div class="image">
                        <a href="https://bg.linkedin.com/in/georgeacev" target="_blank">
                          <%= image_tag "georgi_avatar.jpg", :class => 'img-responsive img-circle' %>
                        </a>
                    </div>
                    <h3><a href="https://bg.linkedin.com/in/georgeacev" target="_blank" rel="nofollow">Георги <br/>  Ацев</a></h3>
                    <p class="role">CTO</p>

                    <div class="social">
                        <%= link_to "https://www.facebook.com/george.atsev", :class => "facebook personal", :title => "Профил във Facebook", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        <% end %>
                        <%= link_to "https://bg.linkedin.com/in/georgeacev", :class => "linkedin personal", :title => "Профил в LinkedIn", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <% end %>
                        <%= mail_to "georgi@fashionlime.bg", :class => "email", :title => "Напиши e-mail", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        <% end %>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
            <div class="col-sm-3 col-sm-offset-1" data-animate="fadeInUp">
                <div class="team-member">
                    <div class="image">
                        <a href="https://bg.linkedin.com/in/radoslav-benov-732632b" target="_blank" rel="nofollow">
                          <%= image_tag "rodi_avatar.jpg", :class => 'img-responsive img-circle' %>
                        </a>
                    </div>
                    <h3><a href="https://bg.linkedin.com/in/radoslav-benov-732632b" target="_blank">Радослав <br/> Бенов</a></h3>
                    <p class="role">CFO</p>
                    <div class="social">
                        <%= link_to "https://www.facebook.com/rodi.benov.5", :class => "facebook personal", :title => "Профил във Facebook", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        <% end %>
                         <%= link_to "https://bg.linkedin.com/in/radoslav-benov-732632b", :class => "linkedin personal", :title => "Профил в LinkedIn", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <% end %>
                        <%= mail_to "radoslav@fashionlime.bg", :class => "email", :title => "Напиши e-mail", :target => "_blank", :rel => 'nofollow', "data-animate-hover" => "pulse" do %>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        <% end %>
                    </div>
                </div>
                <!-- /.team-member -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Отзиви</h2>
                </div>

                <p class="lead">
                    Наградата за нашия труд виждаме всеки ден. С вашите съобщения, обаждания и имейли сме убедени,
                    че това е нещото, което искаме да правим винаги - да ви караме да се чувствате специални. Каквито сте! 
                    Благодарим ви.
                </p>

                <!-- *** TESTIMONIALS CAROUSEL ***
_________________________________________________________ -->

                <ul class="owl-carousel testimonials same-height-row">
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>
                                   Адмирации за идеята. Вече не е нужно да отварям 100 различни сайта, 
                                   за да разгледам новите колекции. А вашият изглежда страхотно при това. Успехи! 
                                </p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <h5>Камелия Иванова</h5>
                                    <p>София</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>
                                    Супер! Харесах си пола и веднага видях с каква блуза мога да я съчетая. 
                                    Браво на вас.
                                </p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <h5>Милка Петкова</h5>
                                    <p>Варна</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>
                                    Толкова лесно за работа. За първи път направих поръчка без търся помощ от дъщеря си.
                                    Личи си, че сте професионалисти.
                                </p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <h5>Мария Петрова</h5>
                                    <p>Бургас</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>
                                    Много ми харесва всичко. Мисля, че сайтът ви ще е 
                                    новата ми интернет "занимавка". Поздрави.
                                </p>
                            </div>

                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <h5>Нина Георгиева</h5>
                                    <p>Пловдив</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>
                                    Определено ми харесва. И начина, по който изглежда и идеята, която реализира.
                                    Най-сетне сайт, на който мнението на потребителите е важно.
                                </p>
                            </div>

                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i>
                                </div>
                                <div class="name-picture">
                                    <h5>Елица Иванова</h5>
                                    <p>София</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->


<!-- /#content -->

<script type="text/javascript">
  FashionLime.Common.utils.onPageLoad(function() {
    $('.owl-carousel.testimonials').owlCarousel({
        items: 4,
        itemsDesktopSmall: [990, 3],
        itemsTablet: [768, 2],
        itemsMobile: [480, 1]
    });
  });
</script>
