<% title "Политика за използване на бисквитки", true %>
<% description "Политика за използване на бисквитки на сайта.", true %>
<% allow_search_engine_index %>
<% breadcrumbs_class "breadcrumbs-legal-cookies-policy"%>

<div id="legal-cookies-policy" class="col-sm-12">
  <div class="policy-section">
    <h4>Какво са "бисквитките"?</h4>

    <p>
    Бисквитките (от английски "cookies") са малки текстови файлове, които се свалят на компютъра или мобилното Ви устройство, когато посетите даден уеб сайт. Уеб сайтът може да достъпи тези бисквитки от уеб браузъра Ви (например Интернет Експлорер, Хром и други) при всяко Ваше посещение, за да може да Ви разпознае, запомни предпочитанията Ви и да Ви предостави по-защитени услуги.
    </p>

    <p>
    Бисквитките са много полезни и са често срещана техника, използвана в почти всеки уеб сайт, защото помагат посещението на страницата да мине възможно най-гладко и приятно. С оглед сигурността на потребителя, много сайтове не могат да функционират изобщо без употребата на бисквитки (или други сходни технологии като "web beacons" или "tags").
    </p>

    <p>
    Основната цел на бисквитките е не да пазят информация за идентичността на даден човек, а да се идентифицира даден браузър на дадено устройство.
    </p>

    <p>
    Ако предпочитате, може да ограничите, блокирате или изтриете бисквитките, като промените настройките на браузъра си, но това ще попречи на нормалното функциониране на страниците на Fashion Lime.
    </p>

  </div>

  <div class="policy-section">
    <h4>Как използваме бисквитки във Fashion Lime?</h4>

    <p>
    Бисквитките на нашата страница не пазят никаква лична информация за Вас и не могат по никакъв начин да навредят на устройството, което използвате. Използваме ги, за да Ви предоставим оптимално изживяване, докато пазарувате мечтания тоалет или създавате поредната невероятна визия. Бисквитките, които използваме, са следните типове:
    </p>

    <div>
      <h5>Необходими</h5>
 
      <p>
        Те играят ключова роля в това услугите на <%= Rails.application.config.app_url %> да функционират правилно. Без тези бисквитки, услугите които търсите няма да могат да Ви бъдат предоставени. Необходимите бисквитки не съдържат информация за Вас, която може да Ви идентифицира и не предоставят възможност за следене, за това къде сте били в интернет.
      </p>
    </div>

    <div>
      <h5>Функционални</h5>
      <p>
        Посредством тези бисквитки, можем да Ви предоставим по-добро изживяване докато използвате уеб сайта ни. Те не съдържат никаква информация, която би ни позволила да Ви идентифицираме.
      </p>
    </div>

    <div>
      <h5>Статистически</h5>

      <p>
        Тези бисквитки ни помагат да разберем по-добре нашите потребители и начина, по който те използват сайта ни. Благодарение на това, можем да разберем какво е най-важно за потребителя и да поддържаме услуги, които са на високо ниво, лесни за употреба и в крак с времето. Освен това, тези бисквитки са и най-добрият начин както да следим за грешки и проблеми в системата ни, така и да тестваме нови версии и подобрения.
      </p>

      <p>
        Понякога технологията, с която събираме тази информация, може да се оперира от други компании от наше име. Те може да използват сходни на бисквитката технологии като "web beacons" или "tags". Тези технологии поддържат анонимността на потребителя и не събират каквато и да е информация, която би могла да го идентифицира. Те са само за статистически нужди.
      </p>
    </div>

    <div>
      <h5>Рекламни</h5>
      <p>
        Имаме бизнес отношения с внимателно подбрани рекламодатели (трети страни), които може също да зададат различни бисквитки по времето на посещението Ви на сайта. Предназначението на тези бисквитки е да таргетират съдържанието на рекламите спрямо поведението и предпочитанията Ви. Благодарение на тези бисквитки, Вие виждате реклами за неща, от които изглежда че се интересувате. Въпреки че тези бисквитки могат да събират информация от Вашите посещения в интернет, те не съдържат информация за това кой сте. Без рекламните бисквитки, онлайн рекламите които срещате в интернет биха били по-маловажни за Вас и интересите Ви.
      </p>
    </div>

  </div>
  <div class="policy-section">

    <h4>Как се изключват?</h4>

    <p>
    Повечето интернет браузъри предоставят възможност за пълно изтриване на бисквитките от устройството Ви, блокиране на всички бисквитки (или само на тези на третата страна) или предупреждение преди опит за запаметяване на бисквитка.
    </p>

    <p>
    Моля имайте в предвид, че ако блокирате всички бисквитки, нашият сайт няма да функционира правилно и няма да можете да достъпите и използвате много от възможностите му. Ако сте блокирали всички бисквитки и искате да се възползвате в пълна степен от това, което <%= Rails.application.config.app_url %> предлага, ще трябва да отмените блокирането и да позволите употребата на бисквитки в браузъра си.
    </p>

    <p>
    Вместо да блокирате всички бисквитки, може да изберете да блокирате само тези на третата страна, което няма да попречи на страницата ни да функционира правилно.
    </p>

    <p>
    Ето някои полезни линкове с информация за управление на бисквитките, за по-популярните в момента браузъри.
    </p>

    <ul>
      <li><%= link_to 'Хром (Chrome)', 'https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=bg', target: '_blank', :rel => 'nofollow' %></b></li>
      <li><%= link_to 'Интернет Експлорер (Internet Explorer)', 'https://support.microsoft.com/bg-bg/help/17442/windows-internet-explorer-delete-manage-cookies', target: '_blank', :rel => 'nofollow' %></b></li>
      <li><%= link_to 'Файерфокс (Firefox)', 'https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences', target: '_blank', :rel => 'nofollow' %></b></li>
      <li><%= link_to 'Сафари (Safari)', 'https://support.apple.com/en-us/HT201265', target: '_blank', :rel => 'nofollow' %></b></li>
    </ul>

  </div>

</div>
