<h2>Product Categories</h2>

<%= link_to('Create New', new_admin_product_category_path) %>

<table class="centered">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="text">Name</th>
      <th class="text">Description</th>
      <th class="text">Key</th>
      <th class="text">Parent</th>
      <th class="text">Meta Title</th>
      <th class="text">Meta Description</th>
      <th class="text">URL Path</th>
      <th class="file">OG Image</th>
      <th class="int">Order Index</th>
      <th class="date">Created</th>
      <th class="date">Updated</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |c| %>
      <tr>
        <td class="id"> <%= c.id %> </td>
        <td class="text"> <%= c.name %> </td>
        <td class="text"> <%= truncate_string(c.description, 70) %> </td>
        <td class="text"> <%= c.key %> </td>
        <td class="text"> <%= c.parent.try(:name) %> </td>
        <td class="text"> <%= c.meta_title %> </td>
        <td class="text"> <%= truncate_string(c.meta_description, 70) %> </td>
        <td class="text"> <%= c.url_path %> </td>
        <td class="file"> 
          <% if c.og_image.present? %>
            YES
          <% else %>
            NO
          <%end%>
        </td>
         <td class="int"> <%= c.order_index %> </td>
        <td class="date"> <%= date_to_s(c.created_at) %> </td>
        <td class="date"> <%= date_to_s(c.updated_at) %> </td>
        <td class="link"><%= link_to('edit', edit_admin_product_category_path(c.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
